<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form>
					<label class="form-label">Imagen:</label>
					<input type="file" id="myfile" name="myfile" class="form-input" required>

					<label class="form-label">Nombre del producto:</label>
					<input type="text" id="name" name="name" class="form-input" required>

					<label class="form-label">Descripción:</label>
					<input type="text" id="description" name="description" class="form-input" required>

					<button type="submit" class="btn">Agregar Producto</button>
				  </form>
			</h2>


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta</h2>
						<p>Con tu primera compra recibirás un 10% de descuento pagando con tarjeta VISA, ¡y hasta 12 cuotas sin interés!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis </h2>
						<p>Durante todo el mes, estando registrado con iCloud, recibirás envíos gratis a toda Latinoamérica.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad</h2>
						<p>Al estar registrado con AppleCare, tendrás una garantía de 2 años.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>

</html>